
.contact-wrapper {
    position: fixed;
    right: 0;
    bottom: 120px;
    transform: translateX(101%);
    -webkit-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    z-index: 100;
  }
  
   .contact-wrapper.contact-wrapper--open {
     transform: translateX(-10px);
  }
  
  .contact-panel {
    background-color: #fff;
    border: 1px solid #101845;
    max-width: 500px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    z-index: 25;
  }
  
  .contact-panel ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    text-align: center;
  }
  
  .contact-panel ul li {
    margin: 0 10px;
    display: inline-block;
  }
  
  .contact-panel ul li a {
    border-radius: 50%;
    color: #101845;
    height: 50px;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    box-shadow: 0 1px 2px 1px rgba(170, 170, 170, 0.2);
    -webkit-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s;
  }
  
  .contact-panel ul li a:hover {
    box-shadow: 0 2px 5px 1px rgba(170, 170, 170, 0.6);
  }
  
  .contact-panel ul li a i {
    font-size: 20px;
    line-height: 50px;
  }
  
  .contact-panel__header {
    position: relative;
    background-color: #101845;
    color: #fff;
    font-size: 21px;
    line-height: 16px;
    padding: 15px;
    text-align: center;
    margin: 0;
  }
  
  .contact-close {
    border: 0;
    background-color: #101845;
    color: #fff;
    position: absolute;
    top: 0px;
    height: 40px;
    width: 40px;
    right: 10px;
    line-height: 48px;
    font-size: 22px;
  }
  
  .contact-close:focus {
    outline: none;
  }
  
  .contact-button {
    border: 0;
    background-color: #10184500;
    color: #fff; 
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 4px;
    transition: ease-in-out 0.5s;
  }
  
  .contact-button:hover {
    transform: scale(0.9);
  }