@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@font-face {
  font-family: Ubuntu;
  src: url(./ubuntu-font-family-0.80/Ubuntu-B.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-BI.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-C.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-L.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-LI.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-M.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-MI.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-R.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-RI.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-B.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-BI.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-R.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-R.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-RI.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles**********************/
.header__container {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.header__wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__image {
  height: 100%;
}
.header__image a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header__nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__element {
  margin-right: 74px;
}
.header__nav__element a {
  color: rgba(39, 48, 73, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding: 5px 0px;
}
.header__nav__element a:hover {
  border-bottom: 2px solid rgba(39, 48, 73, 1);
}
.header__nav__element_language {
}

.dropdown-container {
  position: absolute;
  top: 32%;
}

.dropdown {
  padding: 10px;
  border-radius: 0.5px;
  width: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid rgba(39, 48, 73, 1);
}

.fa-caret-down {
  position: relative;
  top: 0px;
  font-size: 1.3rem;
  margin-left: 4px;
  transition: transform 0.3s ease;
}

.rotate-dropdown-arrow {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  border-radius: 4px;

  width: 50px;

  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transform-origin: top left;
}

.dropdown-menu span {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.dropdown-menu span:hover {
  background: #eee;
}

#openDropdown:checked + .dropdown-menu {
  display: flex;
  animation: openDropDown 0.4s ease 0s 1 forwards;
}

@keyframes openDropDown {
  from {
    transform: rotateX(50deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

/*********swiper slider*****************/

.main__slider_block {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(39, 48, 73, 1);
}
.main__slider__wrapper {
  width: 100%;
  height: 100%;
}
.swiper__slide__contentblock {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper__slide__contentblock img {
  height: 100%;
  z-index: 9;
}
.swiper__slide_content_dontainer {
  position: absolute;

  z-index: 20;
  background-color: rgba(39, 48, 73, 0.48);
  bottom: 25%;
  left: 4%;

  width: 35%;
  padding: 18px;
}
.swpr_sld_content_blockname {
  padding-left: 25px;
  border-left: 2px solid rgba(106, 128, 207, 1);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 15px;
}
.swpr_sld_content_blockname span {
  color: rgba(106, 128, 207, 1);
}
.swpr_sld_content_desc {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}
/*********services elements*****************/
/*********services elements*****************/
/*********services elements*****************/
/*********services elements*****************/
/*********services elements*****************/

.block__content__services {
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;
}
.services__container_block {
  max-width: 100%;
  margin: 0 auto;
}
.services__wrapper {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.services__element__block {
  width: 20%;
  padding: 0 15px 30px;
}
.services__element {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}
.element__wrapper {
  font-family: "Oswald";
}
.element__name {
  font-family: "Oswald";
  color: rgba(39, 48, 73, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 125%;
  width: 100%;
  text-align: center;
}
.element__money__date {
  width: 100%;
  display: flex;
  align-items: center;
}
.services__money {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.services__money__desc {
  color: rgba(39, 48, 73, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}
.services__money_number {
  color: rgba(181, 175, 175, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}
.element__line {
  margin-top: 3em;
  border: 1px solid #dbd7d7;
  width: 100%;
}
.services__desc__block {
}
.services__desc__element {
  display: flex;
}
.services__desc__element:first-child {
  margin-top: 22px;
}
.services__desc__element {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.services__desc__element__image {
  width: 22px;
  height: 22px;
  margin-right: 14px;
}
.services__desc__element__text {
  color: rgba(181, 175, 175, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}
.element__okw {
  display: none;
  visibility: hidden;
}
/*********animations *****************/
/*********animations *****************/

.services__element:hover {
  background-color: rgba(39, 48, 73, 1);
}

.services__element:hover .element__name {
  color: rgba(248, 240, 246, 1);
}
.services__element:hover .services__money__desc p {
  color: #fff;
}
.services__element:hover .services__money_number p {
  color: #fff;
}
.services__element:hover .services__desc__element__text {
  color: rgba(248, 240, 246, 1);
}
.services__element:hover .element__ok {
  display: none;
  visibility: hidden;
}
.services__element:hover .element__okw {
  display: initial;
  visibility: visible;
}
.services__main_name {
  width: 100%;
  text-align: center;
  color: rgba(39, 48, 73, 1);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
}
/********about container styles**********************/
/********about container styles**********************/
/********about container styles**********************/
/********about container styles**********************/
.block__content__about {
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;
}
.about__main_name {
  width: 100%;
  text-align: center;
  color: rgba(39, 48, 73, 1);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
}
.about__container_block {
  max-width: 100%;
  margin: 0 auto;
}
.about_wrapper {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.about__element_block {
  width: 20%;
  padding: 0 15px 30px;
}
.about__element {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);

  padding: 20px;
}
.about__element__wrapper {
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__image_block {
}
.about__element__name {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.02em;
}
.about__element__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #808080;
  margin-top: 12px;
  padding: 0px 8px 0px 8px;
  margin-bottom: 24px;
}
.about__element__line {

  width: 100%;
  border-top: 3px solid rgba(39, 48, 73, 1);
}

/********footer container styles**********************/
/********footer container styles**********************/
/********footer container styles**********************/
/********footer container styles**********************/
.footer__container {
  background-color: rgba(39, 48, 73, 1);
}
.footer__content {
  font-family: "Oswald";
  width: 95%;
  margin: 0 auto;
}
.footer__content__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 30px 0px;
}
/**? ************************/
.footer__content__image {
}
.footer__content__image_block {
}
/**? ************************/
.footer__content__text {
  width: 22%;

  display: flex;
  align-items: flex-end;
}
.footer__content__textwrapper {
}
.footer__content__textname {
}
.footer__content__textname p {
  color: rgba(73, 98, 188, 1);
  font-weight: 500;
  font-size: 32px;
  line-height: 45.7%;
  /* or 15px */

  text-transform: uppercase;
}
.footer__line {
  background-color: rgba(73, 98, 188, 1);
  height: 2px;
  width: 60%;
  margin-top: 1.3em;
}
.footer__content__textelement {
  margin-top: 5.5em;
}
.footer__content__textelement a {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 35%;
  margin-top: 28px;
  text-decoration: none;
}
.footer__rights {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__rights p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.footer__content__image_block img {
}
.mobile__burger_block {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 1690px) {
  .services__container_block {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1580px) {
  .services__container_block {
    max-width: 1240px;
  }
}
@media only screen and (max-width: 1450px) {
  .services__container_block {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1368px) {
  .services__container_block {
    max-width: 1080px;
  }
  .services__element {
    padding: 15px;
  }
  .element__name {
    font-size: 44px;
  }
  .services__money_number {
    font-size: 30px;
  }
  .element__line {
    margin-top: 2em;
  }
  /*****footer**********/
  .footer__content__textname p {
    font-size: 28px;
  }
  .footer__content__image_block img {
    width: 70%;
  }
  .footer__content__textelement {
    margin-top: 3.5em;
  }
}
@media only screen and (max-width: 1285px) {
  .services__container_block {
    max-width: 1020px;
  }
  .services__element__block {
  }
}
@media only screen and (max-width: 1199.98px) {
  .services__container_block {
    max-width: 950px;
  }
  .element__name {
    font-size: 35px;
  }
  .services__desc__element__text {
    font-size: 17px;
  }
  .services__desc__element__image {
    width: 20px;
    height: 20px;
  }
  .services__money {
    width: 80%;
  }
  /********footer*************/
  .footer__content__textname p {
    font-size: 23px;
  }
  .footer__content__textelement a {
    font-size: 19.5px;
  }
}
@media only screen and (max-width: 768px) {
  .services__container_block {
    max-width: 450px;
  }
  .services__element__block {
    width: 49%;
  }
  /**********footer************/
  .footer__content__image {
    width: 21%;
  }
  .footer__content__image_block img {
    width: 100%;
  }
  .footer__content__text {
    width: 25%;
  }
  .footer__content__textname p {
    line-height: 140%;
    font-size: 18px;
  }
  .footer__line {
    margin-top: 0.3em;
  }
  .footer__content__textelement a {
    font-size: 17.5px;
    margin-top: 25px;
  }
  .footer__content__textelement {
    margin-top: 2.5em;
  }
  .footer__content__image_block img {
    width: 170%;
  }
  /********header***************/
  .header__nav_wrapper {
    display: none;
    visibility: hidden;
  }
  .mobile__burger_block {
    display: initial;
    visibility: visible;
  }
  .header__image a {
    width: 78%;
  }
  .header__image img {
    width: 92%;
  }
}
@media only screen and (max-width: 427px) {
  .block__content__services {
    width: 100%;
  }
  .element__name {
    font-size: 30px;
  }
  .services__element {
    padding: 13px;
  }
  .services__money_number {
    font-size: 27px;
  }
  .services__desc__element__image img {
    width: 100%;
  }
  .services__desc__element__image {
    margin-right: 7px;
  }
  .services__desc__element__text {
    font-size: 15px;
  }
  .element__line {
    margin-top: 1.1em;
  }
  .services__desc__element:first-child {
    margin-top: 12px;
  }
  .services__main_name {
    font-size: 40px;
    line-height: 100%;
  }
  .services__wrapper {
    margin-top: 45px;
    justify-content: space-around;
  }
  /******************/
  .footer__content__wrapper {
    flex-direction: column;
  }
  .footer__content__text {
    width: 100%;
  }
  .footer__content__textwrapper {
    margin-bottom: 3em;
  }
  .contact-button {
  }
  .contact-button img {
    width: 70px;
    height: 70px;
  }
  /**************************/
  .swpr_sld_content_blockname {
    padding-left: 25px;
    border-left: 2px solid rgba(106, 128, 207, 1);
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .swpr_sld_content_desc {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 33px;
  }
  .swiper__slide_content_dontainer {
    position: absolute;
    z-index: 20;
    background-color: rgba(39, 48, 73, 0.48);
    bottom: 8%;
    left: 9%;
    width: 84%;
    padding: 18px;
  }
  .swiper-button-next {
    display: none;
    visibility: hidden;
  }
  .swiper-button-prev {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 376px) {
  .services__element__block {
    width: 50%;
  }
  .services__desc__element__image {
  }
  .services__desc__element__text {
    font-size: 14px;
  }
  .services__desc__element {
    margin-top: 11px;
  }
  .services__element {
    padding: 11px;
  }
  .services__desc__element__image {
    width: 18px;
    height: 18px;
  }
  .element__line {
    margin-top: 1em;
  }
  .services__desc__element:first-child {
    margin-top: 12px;
  }
  .services__element__block {
    padding: 0 6px 15px;
  }
}
