@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: Ubuntu;
  src: url(./ubuntu-font-family-0.80/Ubuntu-B.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-BI.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-C.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-L.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-LI.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-M.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-MI.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-R.ttf),
    url(./ubuntu-font-family-0.80/Ubuntu-RI.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-B.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-BI.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-R.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-R.ttf),
    url(./ubuntu-font-family-0.80/UbuntuMono-RI.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/**************************/
/**************************/
/**************************/
/**************************/
/**************************/
.main__wrapper {
  width: 100%;
}

/*********services elements*****************/
/*********services elements*****************/
/*********services elements*****************/
/*********services elements*****************/
/*********services elements*****************/

.block__content__services {
  width: 90%;
  margin: 0 auto;
}
.services__container_block {
  max-width: 100%;
  margin: 0 auto;
}
.services__wrapper {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.services__element__block {
  width: 25%;
  padding: 0 15px 30px;
}
.services__element {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}
.element__wrapper {
  font-family: "Oswald";
}
.element__name {
  font-family: "Oswald";
  color: rgba(39, 48, 73, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 125%;
  width: 100%;
  text-align: center;
}
.element__money__date {
  width: 100%;
  display: flex;
  align-items: center;
}
.services__money {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.services__money__desc {

  color: rgba(39, 48, 73, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}
.services__money_number {

  color: rgba(181, 175, 175, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}
.element__line {
  margin-top: 3em;
  border: 1px solid #dbd7d7;
  width: 100%;
}
.services__desc__block {
}
.services__desc__element {
  display: flex;
}
.services__desc__element:first-child{
  margin-top: 22px;
}
.services__desc__element{
  margin-top: 16px;
}
.services__desc__element__image {
  width: 22px;
  height: 22px;
  margin-right: 14px;
}
.services__desc__element__text {
  color: rgba(181, 175, 175, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}
.services__element:hover {
  background-color: rgba(39, 48, 73, 1);
}
.services__element:hover .element__name{
  color: rgba(248, 240, 246, 1);
}
@media only screen and (max-width: 1690px) {
  .services__container_block {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1580px) {
  .services__container_block {
    max-width: 1240px;
  }
}
@media only screen and (max-width: 1450px) {
  .services__container_block {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1368px) {
  .services__container_block {
    max-width: 1080px;
  }
}
@media only screen and (max-width: 1285px) {
  .services__container_block {
    max-width: 1020px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .services__container_block {
    max-width: 950px;
  }
}
@media only screen and (max-width: 768px) {
  .services__container_block {
    max-width: 450px;
  }
}
