
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  body.lock {
    overflow: hidden;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-ms-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  .main__wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #081534;
  }
  


  .main__wrapper {

    z-index: 20;

}
.main__header {
    z-index: 25;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 20px;
}
.header__Logo {
    overflow: hidden;
    height: 50px;
    width: 190px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__Logo img {
    width: 100%;
}
.header__username__exit {
    display: flex;
    align-items: center;
}
.header__username__image {
    overflow: hidden;
    height: 30px;
    width: 30px;
}
.header__username__image img {
    width: 100%;
}
.header__username__name {
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;

}
.header__username__exit button {
    background-color: rgba(39, 48, 73, 1);
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    border: 2px solid rgba(39, 48, 73, 1);
    font-weight: 500;

}
.header__username__exit button:hover{
    background-color: #fff;
    color: rgba(39, 48, 73, 1);
}



















.main__content__wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.main__content__desc__navigation {
  width: 100%;
  border-bottom: 1px solid #08153446;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}
.main__content__desc {
  font-size: 18px;
  color: #081534;
}
.main__content__add_file{

}
.main__content__add_file  a{
  background-color: #081534;
  color: #f5f5f5;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 500;
}
.main__content__list {
  display: flex;
  flex-direction: column;

}
.main__content__list_element {
  margin-bottom: 25px;
  height: 350px;

   display: flex;
   justify-content: space-between;
   padding: 20px;
   border-radius: 15px;


   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.file_edit{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 17px;
}
.element__image__desc {
  width: 20%;
  height: 100%;

  padding: 20px;
  border-right: 1px solid #08153417;
}
.element__image {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.element__image img{
  width: 70%;
}
.element__desc {
  text-align: center;
  color: #081534;
}
.element__main__content {

  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.element__main__content_desc {
  color: #081534;
  height: 31%;

  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.element__main__content_desc_lang{
  font-size: 16px;
  margin-bottom: 10px;
}
.element__main__content_desc_text{

}
.element__settings_delete {
  width: 9%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #08153417;
}
.element__settings {
  width: 100%;
  margin-bottom: 10px;
}
.element__settings a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #081534;

  background-color: #081534;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  5px;
  border-radius: 15px;
}
.element__settings a img{
  height: 100%;
}
.element__delete {
  width: 100%;

}
.element__delete a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #081534;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  5px;

  border-radius: 15px;
}
.element__delete a img{
  height: 100%;
}

.add__new__file {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  
}
.add_file {
  width: 100%;

}
.add_name {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.add_name__element {
  width: 30%;

}
.add_name__element_desc {
  margin-bottom: 5px;
}
.add_name__element_input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

}
.add_name__element_input input{
  width: 100%;
  height: 100%;
}
.add_desc {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  border-top: 1px solid #08153421;
  padding-top: 22px;
}
.add_desc__element {
  width: 30%;

}
.add_desc__element_desc {
    margin-bottom: 5px;
}
.add_desc__element_input {
    width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.add_desc__element_input input{
    width: 100%;
  height: 100%;
}
.add__file {
  margin-top: 30px;
}
.add__file__button input{
  background-color: #081534;
  color: #f5f5f5;
  padding: 5px;
  width: 100%;
}


.upload__file {
  width: 100%;
  margin-top: 35px;
}
.add__file__button {
  width: 100%;
}
.add__file__button button {
  width: 150px;
  height: 40px;
  background-color: #081534;
  font-size: 18px;
  color: #f5f5f5;
}

.main__link{
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  color: #081534;
  font-weight: 500;
  text-decoration: underline;
}