
    .element__name{
        line-height: 107%;
        font-size: 37px;
    }
    .about__element__desc{
        min-height: 168px;
        font-size: 18px;
    }
    .contact__with_us_desc{
        display: none;
        visibility: hidden;
    }
    .services__money_number {
        font-size: 22px;
    }
@media only screen and (max-width: 1700px) {
    .services__money_number {
        font-size: 17px;
    }
    .services__container_block {
        max-width: 1500px;
    }
    .element__name{
        font-size: 31px;
    }
}
@media only screen and (max-width: 1450px) {}
@media only screen and (max-width: 1380px) {
    .element__name {
        font-size: 30px;
    }
    .services__money__desc p{
        font-size: 14px;
    }
    .services__money_number p {
        font-size: 19px;
    }
    .services__desc__element__text{
        font-size: 15px;
    }
    .about__element__desc {
        font-size: 15px;
        margin-top: 0px;
    }
}
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 780px) {}
@media only screen and (max-width: 600px) {
    .services__element__block {
        width: 86%;
    }
}
@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 380px) {
    .services__element__block {
        width: 90%;
    }
    .element__name{
        font-size: 22px;
    }
}
@media only screen and (max-width: 330px) {}